/* footer */
footer {
  margin-top: 30px;
}

/* error_message */

#error_explanation {
  margin-bottom: 25px;
  ul {
    list-style: disc;
    padding-inline-start: 40px;
  }
}

/* flash_message */
.flash-message {
  .alert {
    width: 100%;
    margin: 0px auto;
  }
}
.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-alert hr {
  border-top-color: #f1b0b7;
}
.alert-alert .alert-link {
  color: #491217;
}
.alert-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-notice hr {
  border-top-color: #b1dfbb;
}
.alert-notice .alert-link {
  color: #0b2e13;
}

/* auto-complete */
.ui-helper-hidden-accessible { display:none; }
/* リスト全体の背景 */
.ui-widget-content {
  width: 500px;
  border: 1px solid #c5c5c5;
  background: #ffffff;
  color: #333333;
}
/* 各リスト項目のパディング設定 */
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em;
}
/* リスト hover 時のカラー */
.ui-state-active {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}
ul {
  // list-style: none;
  padding-left: 0;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
#jquery-ui-autocomplete label {
    float: left;
    margin-right: 0.5em;
    color: black;
    font-size: 15px;
}

/* my_pokemon forms */
form {
  margin-bottom: 30px;
}

#my_pokemon_form_nature {
  height: 34px;
  width: 100%;
}

.first-row {
  margin-bottom: 10px;
}

.second-row {
  margin-bottom: 10px;
  .row {
    margin: 0;
  }
  .form-control {
    width: 16.6666666667%;
    margin-right: 15px;
  }
}

.third-row {
  position: relative;
  .ivs {
    width: 100%;
    select {
      height: 34px;
      width: 60px;
    }
  }
  .evs {
    width: 100%;
    input {
      width: 60px;
      display: initial;
    }
  }
  .action {
    position: absolute;
    right: 0;
    bottom: 0;
    input {
      width: 80%;
    }
  }
}

/* my_pokemon index */
td, th {
  padding: 5px;
}
tr:nth-child(4n+2) td,
tr:nth-child(4n+3) td {
  background-color: #eee
}
tr:nth-child(4n+4) td,
tr:nth-child(4n+5) td {

}
