/* user index */

.users-index {
  ul {
    list-style: none;
  }
  .user-partial {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    margin-bottom: 15px;
  }
  .user-info {
    padding-left: 20px;
  }
  .delete-action {
    padding-left: 20px;
    display: inline-block;
  }
  form {
    margin-bottom: 0;
  }
}
